body{
    padding: 30px;
}

.tabellone{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.controllo {
    margin: 20px;
}

.pop-array ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
